/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}

/*!
  Theme: GitHub Dark Dimmed
  Description: Dark dimmed theme as seen on github.com
  Colors taken from GitHub's CSS
*/
html.theme-dark .hljs {
    color: #adbac7;
    background: #22272e
}

html.theme-dark .hljs-doctag, html.theme-dark .hljs-keyword, html.theme-dark .hljs-meta .hljs-keyword, html.theme-dark .hljs-template-tag, html.theme-dark .hljs-template-variable, html.theme-dark .hljs-type,
    html.theme-dark .hljs-variable.language_ {
    color: #f47067
}

html.theme-dark .hljs-title, html.theme-dark .hljs-title.class_, html.theme-dark .hljs-title.class_.inherited__, html.theme-dark .hljs-title.function_ {
    color: #dcbdfb
}

html.theme-dark .hljs-attr, html.theme-dark .hljs-attribute, html.theme-dark .hljs-literal, html.theme-dark .hljs-meta, html.theme-dark .hljs-number, html.theme-dark .hljs-operator, html.theme-dark .hljs-selector-attr,
    html.theme-dark .hljs-selector-class, html.theme-dark .hljs-selector-id, html.theme-dark .hljs-variable {
    color: #6cb6ff
}

html.theme-dark .hljs-meta .hljs-string, html.theme-dark .hljs-regexp, html.theme-dark .hljs-string {
    color: #96d0ff
}

html.theme-dark .hljs-built_in, html.theme-dark .hljs-symbol {
    color: #f69d50
}

html.theme-dark .hljs-code, html.theme-dark .hljs-comment, html.theme-dark .hljs-formula {
    color: #768390
}

html.theme-dark .hljs-name, html.theme-dark .hljs-quote, html.theme-dark .hljs-selector-pseudo, html.theme-dark .hljs-selector-tag {
    color: #8ddb8c
}

html.theme-dark .hljs-subst {
    color: #adbac7
}

html.theme-dark .hljs-section {
    color: #316dca;
    font-weight: 700
}

html.theme-dark .hljs-bullet {
    color: #eac55f
}

html.theme-dark .hljs-emphasis {
    color: #adbac7;
    font-style: italic
}

html.theme-dark .hljs-strong {
    color: #adbac7;
    font-weight: 700
}

html.theme-dark .hljs-addition {
    color: #b4f1b4;
    background-color: #1b4721
}

html.theme-dark .hljs-deletion {
    color: #ffd8d3;
    background-color: #78191b
}
