/* Inspired by https://github.com/spring-io/antora-ui-spring/ */

.switch {
  display: block;
}

.switch input {
  cursor: pointer;
  appearance: none;
  position: relative;
  width: 2.75rem;
  height: 1.5rem;
  background: no-repeat url("../img/octicons-16.svg#view-sun") 90% 50% / 1rem 1rem, no-repeat url("../img/octicons-16.svg#view-moon") 10% 50% / 1rem 1rem;
  background-color: var(--color-brand-white);
  border: 1px solid var(--color-brand-dark);
  border-radius: 1rem;
  outline: none;
}

.switch input::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 1rem;
  background-color: var(--navbar-background);
  transition: transform 200ms;
}

.switch:hover input::before {
  background-color: var(--navbar_hover-background);
}

.switch input:checked::before {
  transform: translateX(1.25rem);
}

.switch label {
  display: none;
}
